@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #576BFE;
  --color-secondary: #27ACFE;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-gradient {
    @apply bg-linear-to-r from-[#576BFE] to-[#27ACFE]
}

.text-gradient {
  @apply bg-linear-to-r from-[#576BFE] to-[#27ACFE] bg-clip-text text-transparent;
}
